body{
    font-family: 'Helvetica', Times, serif;
    font-weight: 200;
}

.foto{
    height: 130px;
}

.lista-lateral{
    width: 170px;
    background-color: rgba(238, 238, 238, 0.91);
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
}

.form-lateral{
    list-style: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    left: -30px;
}

.lista{
    margin-bottom: 5px;
    padding: 0px 30px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.lista:hover{
    border: 1px solid rgb(108, 106, 106);
    background-color: rgb(119, 119, 119);
}

.principal{
    font-size: larger;
    font-weight: 600;
}



.button{
    display: flex;
    border: 1px solid red;
    border-radius: 12px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    color: red;
}

.link{
    text-decoration: none;
    color: black;
}

.tabelas, th, td {
    font-size: small;
    border: 3px solid white;
    padding: 5px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.91);
}

.s {
    background-color: green;
}
  
.n {
    background-color: yellow;
}

.vermelho{
    background-color: red;
}

.azul{
    background-color: blue;
}

.titulo{ width: 35%; }

.roso{
    background-color: blue;
}
